{% extends 'layout.html' %}
{% load rbac_tags %}



{% block content %}
    <div class="luffy-container">
        <style>
            tr.active {
                border-left: 3px solid #fdc00f;
            }

            table {
                font-size: 12px;
            }

            .panel-body {
                font-size: 12px;
            }
        </style>
        <div class="col-xs-5">
            <div class="panel panel-default menu">
                <div class="panel-heading">
                    <span><i class="fa fa-bolt" aria-hidden="true"></i> 一级菜单</span>
                    <a href="{% url_param_pack request 'rbac:menu_add' %}" class="btn btn-success btn-xs pull-right" style="margin-top: -2px">
                        <i class="fa fa-plus"></i> 添加</a>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th class="col-sm-6">名称</th>
                        <th class="col-sm-4">图标</th>
                        <th class="col-sm-2">选项</th>
                    </tr>
                    {% for menu in menus %}
                        <tr class="{{ menu.class }}">
                            <td><a href="{% url 'rbac:menu_list' %}?mid={{ menu.id }}">{{ menu.title }}</a></td>
                            <td><i class="fa {{ menu.icon }}"></i></td>
                            <td>
                                <a style="color: #333333;" href="{% url_param_pack request 'rbac:menu_edit' menu.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a style="color: #d9534f;" href="{% url_param_pack request 'rbac:menu_del' menu.id %}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
            <div class="panel panel-default menu2">
                <div class="panel-heading">
                    <span><i class="fa fa-bolt" aria-hidden="true"></i> 二级菜单</span>
                    {% if mid is not None %}
                        <a href="{% url_param_pack request 'rbac:second_menu_add' menu_id=mid %}" class="btn btn-success btn-xs pull-right" style="margin-top: -2px">
                            <i class="fa fa-plus"></i> 添加</a>
                    {% endif %}
                </div>
                <table class="table table-hover">
                    <tr>
                        <th class="col-sm-5">名称</th>
                        <th style="text-align:left" class="col-sm-5">别名/正则</th>
                        <th class="col-sm-2">选项</th>
                    </tr>
                    {% for menu2 in menu2s %}
                        <tr class="{{ menu2.class }}">
                            <td><a href="?mid={{ menu2.menu_id }}&pid={{ menu2.id }}">{{ menu2.title }}</a></td>
                            <td><span>{{ menu2.name }}</span><br><span style="border-top: #cccccc solid 1px;width: 80%;display: inline-block">{{ menu2.url }}</span></td>
                            <td style="text-align:center">
                                <a style="color: #333333;" href="{% url_param_pack request 'rbac:second_menu_edit' menu2.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a style="color: #d9534f;" href="{% url_param_pack request 'rbac:second_menu_del' menu2.id %}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default menu3">
                <div class="panel-heading">
                    <span><i class="fa fa-bolt" aria-hidden="true"></i> 子权限菜单</span>
                    {% if pid is not None %}
                        <a href="{% url_param_pack request 'rbac:permission_add' parent_id=pid %}" class="btn btn-success btn-xs pull-right" style="margin-top: -2px">
                            <i class="fa fa-plus"></i> 添加</a>
                    {% endif %}

                </div>
                <table class="table table-hover">
                    <tr>
                        <th class="col-sm-4">名称</th>
                        <th style="text-align:left" class="col-sm-6">别名/正则</th>
                        <th class="col-sm-2">选项</th>
                    </tr>
                    {% for per in permissions %}
                        <tr>
                            <td>{{ per.title }}</td>
                            <td style="text-align:left"><span>{{ per.name }}</span><br>
                                <span style="border-top: #cccccc solid 1px;width: 80%;display: inline-block">{{ per.url }}</span></td>
                            <td>
                                <a style="color: #333333;" href="{% url_param_pack request 'rbac:permission_edit' per.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a style="color: #d9534f;" href="{% url_param_pack request 'rbac:permission_del' per.id %}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock %}