<style  type="text/css">
        .article_avatar{
            width: 60px;
            height: 60px;
        }
        span.by{
            font: normal 12px/35px 微软雅黑 black;
            margin-left: 20px;margin-top: 10px;
        }
        a.author{
            font-size: medium;
        }
        {#div.attachments span{#}
        {#    font: normal 13px/35px 微软雅黑 black;#}
        {#}#}
</style>
{% for article in articles %}
    <div class="article">
    <h4><a href="/{{ article.user.username }}/articles/{{ article.nid }}">{{ article.title }} </a></h4>
    <div class="article_desc">
        <span class="media-left"><a href=""><img class='article_avatar' src="{{ article.user.avatar.url }}" alt=""></a></span>
        <span class="media-right">{{ article.desc | truncatechars:120 }}</span>
    </div>
    <div class="attachments">
        <span class="by"><a class="author" href="">{{ article.user.username }}</a></span>&nbsp;&nbsp;
        <span>发布于&nbsp;{{ article.create_time|date:"Y-m-d H:i:s" }}</span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-comment"><a href="/{{ article.user.username }}/articles/{{ article.nid }}">评论({{ article.comment_count }})</a></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-thumbs-up"><a href="/{{ article.user.username }}/articles/{{ article.nid }}">喜欢({{ article.up_count }})</a></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-thumbs-down"><a href="/{{ article.user.username }}/articles/{{ article.nid }}">不喜欢({{ article.down_count }})</a></span>
    </div>
    <hr class="divider">

</div>
{% endfor %}