<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#refresh').click(function () {
                $('#cap_img')[0].src +='?';
            });
            $('form').submit(function () {
                $.ajax({
                    url:'/login/',
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        username:$('input#username').val(),
                        passwd:$('input#password').val(),
                        cap_code:$('input#captcha').val(),
                    },
                    success:function (data) {
                        console.log(data.msg, data.user);
                        if (data.user){
                            location.href=data.next;
                        }else{
                            $('#error_msg').text(data.msg);
                        }
                    }
                });
                $('#cap_img')[0].src +='?';
                return false;
            })
        })
    </script>
    <style type="text/css">
        @media (min-width:1292px) {  .login .form_div{margin-top: 150px;}  }
        @media (max-width:1292px) and (min-width:992px) {  .login .form_div{margin-top: 100px;}  }
        @media (max-width:992px) {  .login .form_div{margin-top: 10px;}  }
        .login form{
            border: #0f0f0f solid 1px;
            padding: 20px;
            border-radius: 4px;
            background-color: #e6e6e6;
        }
        .control-label{
            top:8px;
        }
        .capcha{
            height: 34px;
            width: 100%;
        }
        #error_msg{
            color: red;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="container login">
    <div class="row">
        <div class = 'col-lg-4 col-lg-offset-4 col-md-6 col-sm-6 col-xs-8 col-sm-offset-4 col-sm-offset-3 col-xs-offset-2 form_div'>
            <form >
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="User Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="captcha" class="col-sm-2 control-label">验证码</label>
                    <div class="input-group col-sm-5"  style="float:left;padding-left: 15px;">
                        <input type="text" class="form-control" id="captcha" placeholder="验证码">
                        <span class="input-group-btn">
                            <button class="btn btn-default"type="button" id="refresh">
                                <span class="glyphicon glyphicon-refresh" style="top: 2px"></span></button>
                        </span>
                    </div>
                    <div class="col-sm-5">
                        <img src="/cap/" alt="验证码" class="img-thumbnail img-responsive capcha" id ='cap_img'>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default">登陆</button>
                        <span id="error_msg"></span>
                        <a class="btn btn-success pull-right" href="/register/">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>